$colorMain: #181626;
$colorMainDark: #211b46;
$colorMain2: #2c293d;
$colorHighlight: #695dd8;
$colorHighlight2: #595377;
$colorText: #bcbac4;
$formBgd: #211d35;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700&display=swap');

html {
    scroll-behavior: smooth !important;
    &::-webkit-scrollbar {
        background-color: $colorMain2;
        width: 12px;
        border-radius: 10px;
      }
       
      &::-webkit-scrollbar-track {
        border-radius: 10px;
            box-shadow: inset 0 0 10px $colorMain;
      }
       
      &::-webkit-scrollbar-thumb {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, $colorHighlight), color-stop(1, $colorHighlight));
            border-radius: 10px;
      }
}

body {
    background-color: $colorMain !important;
    font-family: 'Red Hat Display', sans-serif;
    color: #bcbac3 !important;
}

.bg-dark {
    background-color: $colorMain !important;
}

.nav-link {
    &.active, &:hover {
        background-color: $colorMain2;
        border-radius: 5px;
    }
    img {
        border-radius: 25px;
        &:hover {
            cursor: pointer;
        }
    }
}

.btn-primary {
    border-color: $colorHighlight !important;
    border-width: 2px;
    border-radius: 5px;
    background: linear-gradient(to right, $colorHighlight 50%, $colorMain 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .3s ease-in-out;
    

    &:hover {
        background-position: right bottom;
        color: $colorHighlight;
    }
    &:focus {
        border-color: $colorHighlight2;
        box-shadow: 0 0 0 $colorHighlight2 inset, 0 0 0 $colorHighlight2;
        outline: 0 none;
    }
    &:active {
        border-color: $colorHighlight2;
        box-shadow: 0 0 0 $colorHighlight2 inset, 0 0 0 $colorHighlight2 !important;
        outline: 0 none;
    }
}

.imgContainer {
    margin-right: auto;
    margin-left:auto;
    position: relative; 
    height: 0;
    padding-bottom: 80%;
    width: 80%;
        
    .imgBlur {
        filter: blur(20px);
    }

    .imgBlur, .img {
        background-image: url('../img/profile.jpg');
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.about {
    &.row {
        min-height: 90vh;
    } 
}

h1, h2{
    color: #f2f1f3;
    font-weight: 600;

}

.more {
    transition: transform ease 300ms;
    
    &:hover {
        transform: translate(0, 5px);
    }

    a {
        text-decoration: none;
        color: $colorHighlight;
        font-weight: 700;
        font-size: 1.2rem;
        &:hover {
            color: $colorHighlight;
        }
    }
}

.cookieModal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);

    .cookieModal-content {
        background-color: $colorMain2;
        margin: 20% auto; 
        padding: 20px;
        border-radius: 10px;
        max-width: 90%;
        width: 600px;
        overflow: hidden;

        .btn-primary {
            background: linear-gradient(to right, $colorHighlight 50%, $colorMain2 50%);
            background-size: 200% 100%;
            background-position: left bottom;
            transition: all .3s ease-in-out;
            &:hover {
                background-position: right bottom;
                color: $colorHighlight;
            }
        }        
    }
}

a {
    color: $colorHighlight;
    &:hover {
        filter: opacity(0.8);
    }
}

.skills {
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 80vh;
    .logos {
        font-size: 5em;
        color: $colorHighlight2;
        img {
            width: 100%;
            margin: 15% 0 15% 0;
            transition: rotate .3s, scale .3s;

            &:hover{
                rotate: 5deg;
                scale: 1.05;
            }
        }
    }
}

.offer {
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 70vh;
}

form {
    background-color: $colorMain2;
    border-radius: 10px;
    color: $colorText;
    
    .header {
        background-color: rgba(0, 0, 0, 0.219); color:rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: 10px 10px 0 0;
        color: white;
        text-align: center;
    }

    .body {
        padding: 10px;
    }

    .form-control {
        background-color: $colorHighlight2;
        border: 0;
        border-radius: 0;
        color: $colorText;

        &:focus {
            background-color: $colorHighlight2; 
            color: white;
            border-color: $colorHighlight2;
            box-shadow: 0 0 0 $colorHighlight2 inset, 0 0 0 $colorHighlight2;
            outline: 0 none;
        }


    }

     select.form-control{

        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        background-image: url(../images/select-arrow.png),#E5E5E5;
        background-position: center right;
        background-repeat: no-repeat;
        border: 0;
        color: WHITE;
        font-size: inherit;
        margin: 0;
        overflow: hidden;
        padding-top: 2px;
        padding-bottom: 2px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .form-check-input {
        background-color: $colorHighlight2;
        border-color: $colorHighlight2;
        

        &:hover {
            box-shadow: 0;
        }
        &:checked {
            box-shadow: 0;
            background-color: $colorHighlight;
            border-color: $colorHighlight;
            outline: none !important;
        }
        &:focus {
            border-color: $colorHighlight2;
            box-shadow: 0 0 0 $colorHighlight2 inset, 0 0 0 $colorHighlight2;
            outline: 0 none;
        }
    }

    .btn-primary {
        background: linear-gradient(to right, $colorHighlight 50%, $colorMain2 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        transition: all .3s ease-in-out;
        &:hover {
            background-position: right bottom;
            color: $colorHighlight;
        }

    }  

    #history {
        color: $colorText;
        font-size: small;

        .price {
            color: white;
            font-weight: bold;
        }
    }
}

.contact {
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 80vh;

    h4 {
        color: white;
        font-weight: 600;
    }

    .contactIco {
        font-size: 1.8rem;
        color: $colorHighlight;
    }
}

.portfolio {
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 80vh;

    h3 {
        color: white;
    }

    .imgContainer {
        padding-bottom: 50%;
        width: 50%;
            
        .imgBlur {
            filter: blur(10px);
        }
        &#stadnina {
            .imgBlur, .img {
                background-image: url('../img/stadnina-circle.png');
                
            }
        }
        &#bluebee {
            .imgBlur, .img {
                background-image: url('../img/bb-circle.png');
                
            }
        }
        &#asgr {
            .imgBlur, .img {
                background-image: url('../img/asgr-circle.png');
                
            }
        }

    }
}

#mainCarousel {
    
    width: 600px;
    @media only screen and (max-width: 600px) {
        width: 300px;
        height: auto;
        .carousel__slide img {
            width: 100%;
            height: 200px;
        }
    }
    margin: 0 auto 1rem auto;
  
    --carousel-button-color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
      0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
}
  
#mainCarousel .carousel__slide {
width: 100%;
padding: 0;
}

#mainCarousel .carousel__button.is-prev {
left: -1.5rem;
}

#mainCarousel .carousel__button.is-next {
right: -1.5rem;
}

#mainCarousel .carousel__button:focus {
outline: none;
box-shadow: 0 0 0 4px $colorHighlight;
}

#thumbCarousel .carousel__slide {
opacity: 0.5;
padding: 0;
margin: 0.25rem;
width: 96px;
height: 64px;
}

#thumbCarousel .carousel__slide img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 4px;

}

#thumbCarousel .carousel__slide.is-nav-selected {
opacity: 1;
}